name: Release Build

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: pip install -r requirements.txt PySimpleGUI pyinstaller

      - name: Create vendor directory
        run: |
          mkdir vendor
          mkdir vendor/graphviz
          mkdir vendor/wkhtmltopdf

      - name: Download Graphviz portable
        run: |
          curl -L -o graphviz.zip https://gitlab.com/api/v4/projects/4207231/packages/generic/graphviz-releases/10.0.1/graphviz-portable-10.0.1.zip
          tar -xf graphviz.zip -C vendor/graphviz --strip-components=1

      - name: Download wkhtmltopdf portable
        run: |
          curl -L -o wkhtml.zip https://github.com/wkhtmltopdf/packaging/releases/download/0.12.6-1/wkhtmltox-0.12.6-1.msvc2015-win64.zip
          tar -xf wkhtml.zip -C vendor/wkhtmltopdf --strip-components=1

      - name: Build full EXE
        run: pyinstaller WireVizProjectAssistant.spec

      - name: Build simple EXE
        run: pyinstaller WireVizProjectAssistant.simple.spec

      - name: Archive portable build
        shell: pwsh
        run: Compress-Archive -Path dist/WireVizProjectAssistant/* -DestinationPath dist/WireVizProjectAssistant-full.zip

      - name: Upload Release Assets
        uses: softprops/action-gh-release@v2
        with:
          files: |
            dist/WireVizProjectAssistant-full.zip
            dist/WireVizProjectAssistant-simple.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
